.App {
  text-align: center;
}
  
body {
  background-color: #6f4e8e;
  animation: pulse 10s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reserve_seat{
      background-color:#fee012;
      font-weight: bold;
      font-family: 'Akzidenz-Grotesk', sans-serif;
      /* min-width: 36ex;
      min-height: 6ex; */
      opacity: 0.85;
      font-size:1.4rem;
  }

@keyframes pulse {
0% {
  background-color: #6f4e8e;
}
50% {
  background-color: #a76cb3;
}
100% {
  background-color: #6f4e8e;
}
}

.opening-date {
  color: white;
  /* color: rgb(37, 36, 36); */
  font-size: 2rem;
  /* margin-top: 2rem; */
  animation: zoom 4s ease-in-out forwards;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk', sans-serif;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.2);
  }
}
.btn:hover {
  transform: scale(1.1);
  /* border-color: red; */
}

 @media (max-width: 768px) {
    
        .opening-date {
          font-size: 1.2rem;
        }
      }
      
      @media (min-width: 768px) {
     
        .opening-date {
          font-size: 2rem;
        }
      }
      
      @media (min-width: 992px) {
   
        
        .opening-date {
          font-size: 2rem;
        }
      }
      
      @media (min-width: 1200px) {
    
        .opening-date {
          font-size: 2rem;
        }
      }